   body {
     text-align: center;
     font-family: 'Staatliches', cursive;
     margin: 0 0 0 0;
   }

   .top {
     background-color: black;
     color: white;
     padding: 2%;
   }

   .hader {
     font-size: 4rem;
     margin: 0% 0 0 0;
   }

   .contant {
     font-size: 1.5rem;
     margin: 0 0 0% 0%;
   }

   .middle {
     background-color: turquoise;
     margin: 0 0 0 0;
     padding: 2%;
     color: white;
   }

   .bottom {
     background-color: rgb(0, 0, 0);
     padding: 2%;
     color: white;
   }

   .contionr {
     margin: 0 0 0 0;

   }

   .title {
     font-size: 3rem;
     margin: 0 0 0 0;
   }

   .yelid {
     font-size: 5rem;
     margin: 0 0 0 0;
     color: gold;
   }

   .bold {
     color: mediumslateblue;
   }

   .btn {
     margin: 0 3% 0 0;
     border-radius: 50px;
     background-color: black;
     color: white;
     padding: 1%;
     position: relative;
     display: inline-block;
     cursor: pointer;

   }

   .btn:active {
     transform: scale(0.9);
     background-color: #555;
   }

   .btn-size {
     width: 20px;
     height: 20px;
   }

   .red {
     background-color: red;
   }

   .blue {
     background-color: blue;
   }

   .yellow {
     background-color: yellow;
   }

   .orange {
     background-color: orange;
   }

   .green {
     background-color: green;
   }

   .pink {
     background-color: pink;
   }

   .aqua {
     background-color: aqua;
   }

   .lime {
     background-color: lime;
   }

   .btn.selected {
     border: 1px solid #999999;
     background-color: #cccccc;
     color: #666666;
   }

   .answer {
     background-color: orangered;
     padding: 0.7%;
   }

   .hope {
     margin: 0 0 0 0;
   }

   .img {
     position: absolute;
   }

   .img-happy {
     right: 180px;
   }

   .img-love {
     right: 230px;
   }

   .img-angry {
     left: 180px;

   }

   .img-sad {
     left: 130px;

   }

   @media screen and (max-width: 800px) {
     .img-angry {
       height: 10%;
       left: 60px;
       top: 560px;
     }

     .img-love {
       height: 10%;
       right: 60px;
       top: 560px;
     }

     .img-happy {
       height: 10%;
       right: 50px;
       top: 280px;
     }

     .img-sad {
       height: 10%;
       left: 50px;
       top: 280px;
     }
   }

   @media screen and (max-width: 400px) {
     .img-angry {
       height: 10%;
       left: 60px;
       top: 650px;
     }

     .img-love {
       height: 10%;
       right: 60px;
       top: 650px;
     }

     .img-happy {
       height: 10%;
       right: 50px;
       top: 300px;
     }

     .img-sad {
       height: 10%;
       left: 50px;
       top: 300px;
     }
   }

   #btn{
     color:red;
     font-size:2rem;
     background-color:white;
     outline:none;
     width:100px;
     height: 50px;
     border-radius: 20px;
     border-style: none;


   }

   .btn-area{
    background-color:orangered;
    padding:1%;
   }